@{
    var endereco = ViewData["Endereco"] as Endereco;
}

<h1>
    @ViewData["Saudacao"] Mundo! 
</h1>

<h2>
    @ViewData["DataInicio"] Mundo! 
</h2>

@endereco.Nome <br/>
@endereco.Rua <br/>
@endereco.Cidade, @endereco.Estado