@model Mvc_ModelBinding.Models.Cliente

<h1>ExibirDados</h1>

<hr />

@Html.LabelFor(model => model.Id)
@Html.DisplayFor(model => model.Id)
<br />
@Html.LabelFor(model => model.Nome)
@Html.DisplayFor(model => model.Nome)
<br />
@Html.LabelFor(model => model.Email)
@Html.DisplayFor(model => model.Email)
<br />
<hr />

@Html.ActionLink("Retornar","Index","Cliente")

<a href="/Cliente/Index">Retornar</a>
